LocoNetViewer.js
[{"id":"bcbc2bee.3148e8","type":"mqtt in","z":"ea30f5e5.056bc8","name":"","topic":"lnIn","qos":"2","broker":"7a965843.0e1458","x":120,"y":220,"wires":[["8b0b520f.17c11","f49346d5.eec648"]]},{"id":"8b0b520f.17c11","type":"debug","z":"ea30f5e5.056bc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":220,"wires":[]},{"id":"f49346d5.eec648","type":"json","z":"ea30f5e5.056bc8","name":"","property":"payload","action":"","pretty":false,"x":300,"y":280,"wires":[["420c62af.e446dc"]]},{"id":"420c62af.e446dc","type":"function","z":"ea30f5e5.056bc8","name":"Plain OpCodes","func":"retMsg = msg;\nif (msg.payload.Valid == 1)\n{\n    var res = msg.payload.Data.length;\n    var OpCodeVal = parseInt(msg.payload.Data[0]);\n    var OpCode;\n    var paramStr = \"\";\n    for (i = 0; i < res; i++) \n    {\n        var thisElement = msg.payload.Data[i].toString(16);\n        while (thisElement.length < 2)\n            thisElement = \"0\" + thisElement;\n        paramStr = paramStr + \"0x\" + thisElement.toUpperCase();\n        if (i < res-1)\n            paramStr += \", \";\n    }\n    switch(OpCodeVal)\n    {\n        case 0x81 : OpCode = \"OPC_BUSY\"; break;\n        case 0x82 : OpCode = \"OPC_GPOFF\"; break;\n        case 0x83 : OpCode = \"OPC_GPON\"; break;\n        case 0x85 : OpCode = \"OPC_IDLE\"; break;\n        case 0xA0 : OpCode = \"OPC_LOCO_SPD\"; break;\n        case 0xA1 : OpCode = \"OPC_LOCO_DIRF\"; break;\n        case 0xA2 : OpCode = \"OPC_LOCO_SND\"; break;\n        case 0xB0 : OpCode = \"OPC_SW_REQ\"; break;\n        case 0xB1 : OpCode = \"OPC_SW_REP\"; break;\n        case 0xB2 : OpCode = \"OPC_INPUT_REP\"; break;\n        case 0xB3 : OpCode = \"OPC_UNKNOWN\"; break;\n        case 0xB4 : OpCode = \"OPC_LONG_ACK\"; break;\n        case 0xB5 : OpCode = \"OPC_SLOT_STAT1\"; break;\n        case 0xB6 : OpCode = \"OPC_CONSIST_FUNC\"; break;\n        case 0xB8 : OpCode = \"OPC_UNLINK_SLOTS\"; break;\n        case 0xB9 : OpCode = \"OPC_LINK_SLOTS\"; break;\n        case 0xBA : OpCode = \"OPC_MOVE_SLOTS\"; break;\n        case 0xBB : OpCode = \"OPC_RQ_SL_DATA\"; break;\n        case 0xBC : OpCode = \"OPC_SW_STATE\"; break;\n        case 0xBD : OpCode = \"OPC_SW_ACK\"; break;\n        case 0xBF : OpCode = \"OPC_LOCO_ADR\"; break;\n        case 0xD0 : OpCode = \"OPC_MULTI_SENSE\"; break;\n        case 0xD4 : OpCode = \"OPC_UHLI-FUN\"; break;\n        case 0xD7 : OpCode = \"OPC_PANEL_RESPONSE\"; break;\n        case 0xDF : OpCode = \"OPC_PANEL_QUERY\"; break;\n        case 0xE4 : OpCode = \"OPC_LISSY_REP\"; break;\n        case 0xE5 : OpCode = \"OPC_PEER_XFER\"; break;\n        case 0xE6 : OpCode = \"OPC_ALM_READ\"; break;\n        case 0xE7 : OpCode = \"OPC_SL_RD_DATA\"; break;\n        case 0xED : OpCode = \"OPC_IMM_PACKET\"; break;\n        case 0xEE : OpCode = \"OPC_IMM_PACKET_2\"; break;\n        case 0xEF : OpCode = \"OPC_WR_SL_DATA\"; break;\n        default: OpCode = \"Unknown OpCode \" + OpCode.toString(16); break;\n    }\n    retMsg = {payload: OpCode.toString(16) + \" \" + paramStr}\n}\nelse\n    retMsg = {payload: \"Invalid Data\"}\nreturn retMsg\n","outputs":1,"noerr":0,"x":480,"y":280,"wires":[["c6494666.66b238","adcb301a.81a48","b3d178e5.a19748"]]},{"id":"c6494666.66b238","type":"ui_text","z":"ea30f5e5.056bc8","group":"662b07da.43bd98","order":0,"width":0,"height":0,"name":"Last LocoNet Message","label":"Newest","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":280,"wires":[]},{"id":"adcb301a.81a48","type":"function","z":"ea30f5e5.056bc8","name":"Logging","func":"\nvar dashboardLog = context.get('dashboardLog')|| [];\n\ndashboardLog.unshift(msg);  //add top of list\nif (dashboardLog.length > 10)\n    dashboardLog.length = 10; //set length to 10\n \n\n// store the value back\ncontext.set('dashboardLog',dashboardLog);\n\n// make it part of the outgoing msg object\nmsg = {payload : dashboardLog};\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":380,"wires":[["a841a759.3a0818"]]},{"id":"a841a759.3a0818","type":"ui_template","z":"ea30f5e5.056bc8","group":"662b07da.43bd98","name":"Viewer List","order":0,"width":"6","height":"9","format":"<ul>\n    <li ng-repeat = \"x in msg.payload\">\n        {{x.payload}}\n    </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":950,"y":380,"wires":[[]]},{"id":"65391186.372d2","type":"ui_template","z":"ea30f5e5.056bc8","group":"662b07da.43bd98","name":"Start/Stop Button","order":0,"width":0,"height":0,"format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#FFFFFF\" ng-click=\"send({payload: msg.payload })\"> \n<svg  width=\"260px\" height=\"90px\" version=\"1.1\" viewBox=\"0 0 800 200\">\n <g id=\"Button_Long\">\n  \n  <rect fill=\"#FFFFFF\" width=\"800\" height=\"200\"/>\n  <g ng-style=\"{fill: (msg.payload || 0) ? 'lime' : 'red'}\">\n    <rect width=\"800\" height=\"200\" rx=\"80\" ry=\"80\"/>\n  </g>\n  \n  <g ng-style=\"{fill: (msg.payload || 0) ? 'lime' : 'red'}\">\n    <rect x=\"11\" y=\"10\" width=\"778\" height=\"180\" rx=\"90\" ry=\"90\"/>\n  </g>\n  <g ng-style=\"{fill: (msg.payload || 0) ? 'black' : 'white'}\">\n      \n    <text x=\"400\" y=\"125\" style=\"text-anchor:middle\"  font-weight=\"bold\" font-size=\"80\" font-family=\"Arial\">{{(msg.payload||0)? \" GO \" : \"STOP\"}} </text>\n    </g>\n  </g>\n</svg>\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":850,"y":580,"wires":[["77b0c21b.32216c","3aea8c2c.4adab4"]]},{"id":"77b0c21b.32216c","type":"function","z":"ea30f5e5.056bc8","name":"Reverser","func":"msg.payload = !msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":520,"wires":[["65391186.372d2"]]},{"id":"3aea8c2c.4adab4","type":"function","z":"ea30f5e5.056bc8","name":"Msg Generator","func":"function createJSON(fromData)\n{\n    var retStr = \"{\\\"From\\\":\\\"Switch Board\\\", \\\"Valid\\\":1, \\\"Data\\\":[\";\n    var xorCode = 0;\n    for (i = 0; i < fromData.length; i++)\n    {\n        var byteCode = parseInt(fromData[i]);\n        //if (byteCode < 0x10)\n        //  retStr = retStr + \"0x0\"\n        //else\n        //  retStr = retStr + \"0x\";\n        retStr = retStr + byteCode.toString() + \",\"\n        xorCode = xorCode ^ byteCode;\n    }\n    xorCode = xorCode ^ 0xFF;\n    retStr = retStr + xorCode.toString() + \"]}\";\n    return retStr;\n}\n\nvar dataGo = [0x83];\nvar dataIdle= [0x85];\nif (msg.payload)\n  msg = {payload : createJSON(dataGo)};\nelse\n  msg = {payload : createJSON(dataIdle)};\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":580,"wires":[["452961df.925a5"]]},{"id":"452961df.925a5","type":"mqtt out","z":"ea30f5e5.056bc8","name":"lnOut","topic":"lnOut","qos":"1","retain":"false","broker":"7a965843.0e1458","x":1340,"y":580,"wires":[]},{"id":"b3d178e5.a19748","type":"function","z":"ea30f5e5.056bc8","name":"Layout Status","func":"var str = msg.payload;\nif (str.search(\"OPC_IDLE\") >= 0)\n{\n    msg = {payload : 0}\n    return msg;\n}\nif (str.search(\"OPC_GPOFF\") >= 0)\n{\n    msg = {payload : 0}\n    return msg;\n}\nif (str.search(\"OPC_GPON\") >= 0)\n{\n    msg = {payload : 1}\n    return msg;\n}\n","outputs":1,"noerr":0,"x":700,"y":440,"wires":[["77b0c21b.32216c"]]},{"id":"7a965843.0e1458","type":"mqtt-broker","z":"","name":"HiveMQ","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"662b07da.43bd98","type":"ui_group","z":"","name":"LocoNet Viewer","tab":"ef595555.587068","order":1,"disp":true,"width":"6","collapse":false},{"id":"ef595555.587068","type":"ui_tab","z":"","name":"LocoNet","icon":"dashboard","order":1}]
